<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
  <div class="container">
    <a th:href="@{'/'}">Home</a>
      <div class="post">
          <h2 th:text="${post.title}">Title</h2>
          <h4 th:text="'Created by: '+${post.account.firstName}"></h4>
          <h5 th:text="'Published on: '+ ${post.createdAt} ">Created at</h5>
          <p th:text="${post.body}">body text</p>
      </div>
  </div>
</body>
</html>